<div class='d-flex flex-row justify-content-center'>
  <div>
    <%= form_with model: @person_characteristic do |form| %>
      <p> <%= form.check_box :genus %>
      <%= form.label :man, "Мужчина" %>
      <%= form.check_box :genus %>
      <%= form.label :woman, "Женщина" %> </p>
      <%= form.label :age, "Возраст" %>
      <p> <%= form.number_field :age %> </p>
      <%= form.label :height, "Рост" %>
      <p> <%= form.number_field :height %> </p>
      <%= form.label :weight, "Вес" %>
      <p> <%= form.number_field :weight %> </p>
      <%= form.label :kof_activ, "Коефициент активности *" %>
      <p> <%= form.number_field :kof_activ, step: 0.001 %> </p>
      <p> <%= form.submit 'Расчитать' %>
    <% end %>
  </div>
  <div class='col-4 p-2'>
    * <p> 1,2 – если у вас нет физических нагрузок и сидячая работа
      <p> 1,375 – если вы совершаете небольшие пробежки или делаете легкую гимнастику 1–3 раза в неделю
      <p> 1,55 – если вы занимаетесь спортом со средними нагрузками 3–5 раз в неделю
      <p> 1,725 – если вы полноценно тренируетесь 6–7 раз в неделю
      <p> 1,9 – если ваша работа связана с физическим трудом, вы тренируетесь 2 раза в день и включаете в программу тренировок силовые упражнения.
  </div>  
</div>