<tr>
  <td> <%= Dish.find(meal.dish_id).name %> </th>
  <td> <%= meal.dish_weight %> </td>
  <% meal.pfcc_meal(meal).each do |pfcc| %>
    <td> <%= pfcc %> </td>
  <% end %>
  <td> <%= meal.status %> </td>
  <td> <%= meal.created_at %> </td>
  <td> <%= link_to 'Изменить', edit_meal_path(meal)%> </td>
  <td> <%= button_to 'Удалить', meal_path(meal), method: :delete, class: 'btn btn-link' %> </td>
</tr>