<div class='d-flex p-2'>
  <div class='d-flex bg-white'>
    <span style="font-size:0.7em">
      <h5 class='text-center'> <%= status %> </h5>
      <table class="table">
        <thead>
          <tr class="table-dark">
            <th scope="col">Название</th>
            <th scope="col">В</th>
            <th scope="col">Б</th>
            <th scope="col">Ж</th>
            <th scope="col">У</th>
            <th scope="col">К</th>
            <th scope="col">_</th>
            <th scope="col">_</th>
          </tr>
        </thead>
        <tbody>
          <% @meals.where(status: status, created_at: Time.zone.now.beginning_of_day..Time.zone.now.end_of_day).each do |meal| %>
            <tr>
              <td> <%= link_to meal.dish.name, dish_path(meal.dish) %> </td>
              <td> <%= meal.dish_weight %> </td>
              <% meal.pfcc_meal(meal).each do |pfcc| %>
                <td> <%= pfcc %> </td>
              <% end %>
              <td> <%= button_to fa_icon('pencil'), edit_meal_path(meal), method: :get %> </td>
              <td> <%= button_to fa_icon('trash-o'), meal_path(meal), method: :delete %> </td>
            </tr>
          <% end %>
            <tr> 
              <td class='text-center' colspan="8"> <%= link_to fa_icon('plus'), new_meal_path, class: 'btn btn-outline-success btn-sm', title: 'Add meal' %> </td>
            </tr>
            <tr> 
              <th> Итого: </th> 
              <% current_user.meals.pfcc_meal_total(status: status, created_at: Time.zone.now.beginning_of_day..Time.zone.now.end_of_day).each do |pfcc| %>
                <th> <%= pfcc %> </th>
              <% end %>
            </tr>
        </tbody>
      </table>
    </span>
  </div>
</div>