<div class='d-flex align-items-center'>
<% if @meals.present? %>
  <table class="table table-bordered text-center">
    <thead>
      <tr>
        <th>Название</th>
        <th>Вес</th>
        <th>Белки</th>
        <th>Жиры</th>
        <th>Углеводы</th>
        <th>Каллории</th>
        <th>Статус</th>
        <th>Дата</th>
        <th>...</th>
        <th>...</th>
      </tr>
    </thead>  
    <tbody>
      <tr> <th> Завтрак </th> </tr>
        <% @meals.where(status: "Завтрак").each do |meal| %>
          <%= render 'meal', meal: meal %>
        <% end %>
      <tr> 
        <th> Итого: </th> 
        <% current_user.meals.pfcc_meal_total(status: "Завтрак").each do |pfcc| %>
          <th> <%= pfcc %> </th>
        <% end %>
      </tr>
      <tr> <th> Обед </th> </tr>
        <% @meals.where(status: "Обед").each do |meal| %>
          <%= render 'meal', meal: meal %>
        <% end %>
      <tr> <th> Итого: </th> 
        <% current_user.meals.pfcc_meal_total(status: "Обед").each do |pfcc| %>
          <th> <%= pfcc %> </th>
        <% end %>
      </tr>
      <tr> <th> Ужин </th> </tr>
        <% @meals.where(status: "Ужин").each do |meal| %>
          <%= render 'meal', meal: meal %>
        <% end %>
      <tr> <th> Итого: </th> 
        <% current_user.meals.pfcc_meal_total(status: "Ужин").each do |pfcc| %>
          <th> <%= pfcc %> </th>
        <% end %>
      </tr>
      <tr> <th> Перекус </th> </tr>
        <% @meals.where(status: "Перекус").each do |meal| %>
          <%= render 'meal', meal: meal %>
        <% end %>
      <tr> <th> Итого: </th> 
        <% current_user.meals.pfcc_meal_total(status: "Перекус").each do |pfcc| %>
          <th> <%= pfcc %> </th>
        <% end %>
      </tr>
      <tr> <th> Итого за день: </th> 
        <% current_user.meals.pfcc_total_day.each do |pfcc| %>
          <th> <%= pfcc %> </th>
        <% end %>
      </tr>
    </tbody>  
  </table>
<% else %>
  <h5 class='text-center'>  Приемов пищи не было </h5>
<% end %>  
</div>
