<div class='d-flex p-2'>
  <%= form_with model: @meal do |form| %>
    <%= form.date :created_at %>
    <% Meal.select(:created_at).each do |meal| %>
      <%= meal %>
    <% end %>
  <% end %>
  <div class='d-flex bg-white' style="width: 400px;">
    <span style="font-size:0.7em">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Название</th>
            <th scope="col">В</th>
            <th scope="col">Б</th>
            <th scope="col">Ж</th>
            <th scope="col">У</th>
            <th scope="col">К</th>
          </tr>
        </thead>
        <tbody>
          <% @meals.each do |meal| %>
            <tr>
              <td> <%= Dish.find(meal.dish_id).name %> </td>
              <td> <%= meal.dish_weight %> </td>
              <% meal.pfcc_meal(meal).each do |pfcc| %>
                <td> <%= pfcc %> </td>
              <% end %>
            </tr>
          <% end %>
            <tr> 
              <th> Итого: </th> 
              <% current_user.meals.pfcc_meal_total(created_at: Time.zone.now.beginning_of_day..Time.zone.now.end_of_day).each do |pfcc| %>
                <th> <%= pfcc %> </th>
              <% end %>
            </tr>
        </tbody>
      </table>
    </span>
  </div>
</div>