<div class='d-flex p-2'>
  
  <%= search_form_for @q, url: report_meals_url do |f| %>
    <%= f.label :name_cont %>
    <%= f.search_field :name_cont %>
    <%= f.label :dish_weight %>
    <%= f.search_field :dish_weight_eq %>
    <%= f.label :date_eq %>
    <%= f.date_field :created_at_eq %>
    <%= f.submit %>
  <% end %>

  <div class='d-flex bg-white' style="width: 400px;">
    <span style="font-size:0.7em">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col"><%= sort_link(@q, :name, 'Название') %></th>
            <th scope="col"><%= sort_link(@q, :dish_weight, 'Вес') %></th>
            <th scope="col">Б</th>
            <th scope="col">Ж</th>
            <th scope="col">У</th>
            <th scope="col">К</th>
            <th scope="col"><%= sort_link(@q, :created_at, 'Дата') %></th>
          </tr>
        </thead>
        <tbody>
          <% @meals.each do |meal| %>
            <tr>
              <td> <%= Dish.find(meal.dish_id).name %> </td>
              <td> <%= meal.dish_weight %> </td>
              <% meal.pfcc_meal(meal).each do |pfcc| %>
                <td> <%= pfcc %> </td>
              <% end %>
              <td> <%= meal.created_at %> </td>
            </tr>
          <% end %>
            <tr> 
              <th> Итого: </th> 
              <% current_user.meals.pfcc_meal_total(created_at: Time.zone.now.beginning_of_day..Time.zone.now.end_of_day).each do |pfcc| %>
                <th> <%= pfcc %> </th>
              <% end %>
            </tr>
        </tbody>
      </table>
    </span>
  </div>
</div>