  <tr>
    <td> <%= link_to dish.name, dish_path(dish)%> </th>
    <td> <%= dish.proteins %> </td>
    <td> <%= dish.fats %> </td>
    <td> <%= dish.carbohydrates %> </td>
    <td> <%= dish.cal %> </td>
    <td> <%= link_to 'Изменить', edit_dish_path(dish)%> </td>
    <td> <%= link_to 'Удалить', dish_path(dish), data: { turbo_method: :delete } %> </td>
  </tr>


