<p> <%= link_to dish.name, dish_path(dish) %>
    <%= dish.proteins %>
    <%= dish.fats %>
    <%= dish.carbohydrates %>
    <%= dish.cal %>
    <%= link_to 'Изменить', edit_dish_path(dish)%>
    <%= button_to 'Удалить', dish_path(dish), method: :delete, class: 'btn btn-link' %>
</p>



